* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #202124;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

.ccc {
  width: 20px;
  height: 20px;
}

.navInstruments:hover {
  border-radius: 50%;
  background-color: #d2d3d4;
  border: 5px solid #d2d3d4;
}

.navInstruments {
  color: #a9abad;
  opacity: 0.7;
  border-radius: 50%;
  border: 5px solid #ffffff;
  /* background-color: blueviolet; */
  width: 25px;
  height: 25px;
}

.icon {
  background: url(./UO.jpg);
  /* background-position: 50% 50%; */
  border: 4px solid #ffffff;
  background-size: cover;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.icon:hover {
  border: 4px solid #d2d3d4;
}

.searchContainer {
  border: 1px solid #dfe1e5;
  height: 3em;
  border-radius: 24px;
  display: flex;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  padding: 0 0.5em 0 0.5em;
  margin-left: auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

input {
  border: none;
  width: 100%;
  font-size: 1.5em;
  padding-left: 0.5em;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1em;
  padding-right: 1em;
}

header a {
  color: #000000c0 !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div {
  margin-right: 0.5em;
}

footer {
  background-color: #dbdbdb;
  display: flex;
  color: #70757a !important;
  flex-direction: column;
}

footer a {
  color: #70757a !important;
}

footer a:hover {
  text-decoration: underline;
}

.countryWrap {
  border-bottom: 1px solid #b9bbbe;
}

.countryWrap p,
.left-menu {
  padding-left: 2em;
}
/* .right-menu {
  padding-right: 2em;
} */

.middle-menu {
  align-items: center;
  text-align: center !important;
}

.right-menu a,
.left-menu a {
  margin-right: 2em;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 1em 0;
  flex-wrap: wrap;
}

.row img {
  height: 15px;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #ffffff;
  border-radius: 5%;
  padding: 10px 15px 10px 15px;
  margin-bottom: 10%;
}

button:hover {
  border: 1px solid #dfe1e5;
  box-shadow: #a9abad;
}
